@model HomeViewModel

@{
    ViewBag.Title = "Trang chủ";
}
@*HTML for Home Page - Home/Index - Trang chủ*@

@*Import *@
<link href="~/css/index.css" rel="stylesheet" />
@*---------------------------------------------------------*@

@*------Begin banner--------*@
<img class="banner-image" src="./image/banner.png" alt="" />
<div class="banner-content">
    <h1 class="content-1">VIETTOUR</h1>
    <h1 class="content-2">VI VU CHÂN TRỜI VIỆT</h1>
</div>
@*-------End banner----------*@

@*---------Begin Place-search--------*@
<div class="place-search">
    <div class="btn-question">
        <a style="text-decoration: none" href="#" class="button-question">Bạn muốn đi đâu?</a>
    </div>
    <div class="box-rectangle">
        <div class="rectangle"></div>
        <input class="input-box" type="text" size="75" value="" placeholder="Nhập thành phố, địa điểm du lịch" />
        <div class="rectangle box-2"></div>
        <a href="#" class="find-button">Tìm kiếm</a>
        <i class="fa-solid fa-location-dot"></i>
    </div>
</div>
@*----------End Place-search-------*@

@*----Content of HOT Places -----*@
<div class="mid-content">
    <p class="mid-content-1">Địa điểm HOT</p>
    <p class="mid-content-2">Hãy cùng khám phá!</p>
</div>
@*---End---*@

@*--------Begin Tour------*@

<div class="tour-section">
    <div class="content-section">
        <!--HOT Places-->
        <div class=" places-list">
            <!---------------------------------------------------------------->

            @if (Model != null)
            {
                @foreach (var tour in Model.tourList)
                {
                    <div class="tour-content img-responsive-wrap">

                        <a class="image-iner" asp-area="Public" asp-controller="Tour" asp-action="Detail" asp-route-id="@tour.TourId">
                             <img src=@tour.Image>
                            <div class="place-body">
                                <h3 class="place-heading">
                                    @tour.TourName
                                </h3>
                                <ul class="place-content">
                                    @Html.Raw(@tour.Summary)
                                </ul>
                                <p class="tour-price"> @tour.Price</p>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
        <ul class="pagination">
            <li class="paginate_button page-item previous disabled" id="example1_previous">
                <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0" class="page-link">
                    Trang trước
                </a>
            </li>
            <li class="paginate_button page-item active">
                <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0" class="page-link">
                    1
                </a>
            </li>
            <li class="paginate_button page-item ">
                <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0" class="page-link">
                    2
                </a>
            </li>
            <li class="paginate_button page-item ">
                <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0" class="page-link">
                    3
                </a>
            </li>
            <li class="paginate_button page-item ">
                <a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0" class="page-link">
                    4
                </a>
            </li>
            <li class="paginate_button page-item ">
                <a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0" class="page-link">
                    5
                </a>
            </li>
            <li class="paginate_button page-item ">
                <a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0" class="page-link">
                    6
                </a>
            </li>
            <li class="paginate_button page-item next" id="example1_next">
                <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0" class="page-link">
                    Trang sau
                </a>
            </li>
        </ul>
    </div>
    @*End HOT Place*@
</div>
@*------End Tour --------*@















