@model HomeViewModel

@{
    ViewBag.Title = "Trang chủ";
}
@*HTML for Home Page - Home/Index - Trang chủ*@

@*Import *@
<link href="~/css/index.css" rel="stylesheet" />
@*---------------------------------------------------------*@

@*------Begin banner--------*@
<img class="banner-image" src="./image/banner.png" alt="" />
<div class="banner-content">
    <h1 class="content-1">VIETTOUR</h1>
    <h1 class="content-2">VI VU CHÂN TRỜI VIỆT</h1>
</div>
@*-------End banner----------*@

@*---------Begin Place-search--------*@
<div class="place-search">
    <div class="btn-question">
        <a style="text-decoration: none" href="#" class="button-question">Bạn muốn đi đâu?</a>
    </div>
    <div class="box-rectangle">
        <div class="rectangle"></div>
        <input class="input-box" type="text" size="75" value="" placeholder="Nhập thành phố, địa điểm du lịch" />
        <div class="rectangle box-2"></div>
        <a href="#" class="find-button">Tìm kiếm</a>
        <i class="fa-solid fa-location-dot"></i>
    </div>
</div>
@*----------End Place-search-------*@

@*----Content of HOT Places -----*@
<div class="mid-content">
    <p class="mid-content-1">Địa điểm HOT</p>
    <p class="mid-content-2">Hãy cùng khám phá!</p>
</div>
@*---End---*@

@*--------Begin Tour------*@

<div class="tour-section">
    <div class="content-section">
        <!--HOT Places-->
        <div class=" places-list">
            <!---------------------------------------------------------------->

            @if (Model != null)
            {
                @foreach (var tour in Model.tourList)
                {
                    <div class="tour-content">

                        <a asp-area="Public" asp-controller="Tour" asp-action="Detail" asp-route-id="@tour.TourId">
                            <img src=@tour.Image>
                            <div class="place-body">
                                <h3 class="place-heading">
                                    @tour.TourName
                                </h3>
                                <ul class="place-content">
                                    @Html.Raw(@tour.Summary)
                                </ul>
                                <p class="tour-price"> @tour.Price</p>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
       <br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page }))
    </div>
    @*End HOT Place*@
</div>
@*------End Tour --------*@















