@{
    ViewData["Title"] = "Trang chủ";
}
<!--Sử dụng nhờ Home View-->
                                                <!--TOUR-LIST->
@model TourViewModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title" style="margin-left: 500px;">DANH SÁCH CÁC TOUR DU LỊCH</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Mã Tour</th>
                            <th>Hình ảnh</th>
                            <th>Tên Tour</th>
                            <th>Mô tả ngắn</th>
                            <th>Giá</th>
                            <th>Tính năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.tourList)
                        {
                            <tr>
                                <td> @item.TourId </td>
                                <td> <img src="@item.Image" alt="" class="img-fluid"> </td>
                                <td> @item.TourName </td>
                                <td> @Html.Raw(@item.Summary)</td>
                                <td> @item.Price</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Tour" asp-action="Edit" class="edit" title="Sửa" style="margin-right:10px;">
                                        Sửa
                                     </a>
                                     <a href="#" class="delete" title="Xóa">
                                         Xoá
                                      </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>












