 
@{
    ViewData["Title"] = "Booking";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

                                                            <!--BOOKING-LIST-->
@model BookingViewModel
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title" style="margin-left: 500px;">DANH SÁCH BOOKING</h2>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Mã Tour</th>
                            <th>Tên Tour</th>
                            <th>Người đặt</th>
                            <th>Ngày đặt</th>
                            <th>Ghi chú</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.BookingList)
                        {
                            <tr>
                                <td> @item.TourId </td>
                                <td> @item.TourName </td>
                                <td> @item.Username</td>
                                <td> @item.Create_Day</td>
                                <td>
                                    <a asp-area="Admin" asp-controller="Booking" asp-action="Edit" asp-route-id=@item.TourId class="edit" title="Sửa" style="margin-right:10px;">
                                        Sửa
                                    </a>
                                    <a href="#" class="delete" title="Xóa">
                                        Xoá
                                    </a>
                                </td>
                                <td>@item.Note</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>


