@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*HTML for Home Page - Tour/Index - Du lịch*@


@{
    ViewBag.Title = "Du lịch";
}
@model TourViewModel

<link href="~/css/tour.css" rel="stylesheet" />
<link href="~/font/fontawesome-free-6.2.0-web/css/all.css" rel="stylesheet" />
<link href="~/font/fontawesome-free-6.2.0-web/css/all.min.css" rel="stylesheet" />

<div class="tour-detail-banner"></div>   @*Banner*@
@*Begin: Search tour box*@
<div class="box-tour">
    <div class="box-search-tour">
        <div class="form-group">
            <input type="text" placeholder="Nhập thành phố, địa điểm du lịch" class="search-input-field">
            <i class="fa-solid fa-location-dot"></i>
        </div>
        <a href="#" class="btn btn-blue search-tour-button">Tìm kiếm</a>
    </div>
</div>
@*End: Search tour box*@

@*--------Begin Tour------*@

<div class="tour-section">
    <div class="content-section">
        <!--HOT Places-->
        <div class="row places-list">
            <!---------------------------------------------------------------->
            @if (Model != null)
            {
                @foreach (var tour in Model.tourList)
                {
                    <div class="col col-content-1">
                        @*truyen toi detail*@
                        <a asp-area="Public" asp-controller="Tour" asp-action="Details" asp-route-id="@tour.TourId">
                            <img src=@tour.Image>
                            <div class="place-body place-1">
                                <h3 class="place-heading">
                                    @tour.TourName
                                </h3>
                                <ul class="place-content">
                                    @Html.Raw(@tour.Summary)
                                </ul>
                                <p class="tour-price"> @tour.Price</p>
                            </div>
                        </a>
                    </div>
                }
            }

        </div>

    </div>
    <a href="" class="more-button btn-blue">Xem thêm</a>
    @*End HOT Place*@
</div>
@*------End Tour --------*@