@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewBag.Title = "Đăng nhập";
}
@model LogInViewModel
<link href="~/css/login.css" rel="stylesheet" />
<section>
    <!--Begin Content-->
    <div class="login-content">
        <div class="form">

            <h2>Đăng Nhập</h2>

            <form method="post" action="">
                <div class="input-form">
                    <input type="text" name="Phone" placeholder="Số điện thoại" >
                </div>
                <div class="input-form">

                    <input type="password" name="Password" placeholder="Mật khẩu" >
                </div>
                <div class="forgot-password">
                    <a asp-area="Public" asp-controller="User" asp-action="ForgotPassword"> Quên mật khẩu? </a>
                </div>
                <div class="input-form submit-button">
                    <input type="submit" value="Đăng nhập" />
                </div>

                <div class="input-form">
                    <p>Bạn Chưa Có Tài Khoản? <a asp-area="Public" asp-controller="User" asp-action="SignUp">Đăng Ký</a></p>
                </div>
            </form>
        </div>
    </div>
    <!--End content-->
</section>


@*@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LogInViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <p>
            <input type="submit" value="Đăng Nhập" />
        </p>
    </fieldset>
}*@